/***** BACKGROUND ANIMATION *****/

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.screen {
  animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
  padding: 10vmin;
  width: 100vw;
}

.screen:before {
  animation: wave 10s infinite ease-in-out;
  content: "";
  height: 20vh;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  z-index: 1;
}

.screen:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

p:last-child:after {
  animation: blink 1s infinite;
  content: "_";
}

@keyframes colorPulse {
  0%,
  100% {
    color: #0c0;
  }
  48%,
  52% {
    color: #090;
  }
  50% {
    color: #060;
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: -100vh;
  }
  48%,
  52% {
    box-shadow: 0 -10vh 20vh #090;
  }
  50% {
    box-shadow: 0 -10vh 20vh #060;
  }
  100% {
    box-shadow: 0 -10vh 20vh #0c0;
    top: 200vh;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


/***** FORM STYLING *****/

.form-container {
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
  margin-top: -100px;
}

.add-item-button {
  margin-top: 20px; /* Adjust as needed for spacing */
  text-align: center; /* Center the button within its container */
  position: relative;
  top: 40px;
}

.add-item-button button {
  border-radius: 5px;
  height: 35px;
  width: 100px;
  font-family: "Fira Mono", monospace;
  font-weight: bold ;
}
.add-item-button :hover {
  background-color: #00cc00;
  cursor: cell;
  box-shadow: black;
}
input {
  background: #78e461;
}

button {
  background: #78e461;
}

label {
  padding-left: 20px;
}


/***** TABLE STYLING *****/
.table-container {
  overflow: hidden;
}
.table-title {
  padding-top: 60px;
  padding-bottom:30px;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

table th, table td {
  font: 8px "Fira Mono", monospace;
  padding: 28px;
  border: 2px dashed ;
  text-align: center;
  border-color: #00cc00;
}

.table-scroll-container {
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

.table-button  {
  border-radius: 5px;
  height: 30px;
  width: 70px;
  font-family: "Fira Mono", monospace;
  font-weight: bold ;
}

.table-button:hover {
  background-color: #00cc00;
  cursor: cell;
}

/***** POWERED BY STYLING *****/

.powered-by {
  padding-bottom: 90px;
  margin-top: -35px;
}

.powered-by-text {
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
}

.icon {
  height: 30px;

}

.form-title,
.table-title {
  text-align: center;
}

@media screen and (max-width: 780px) {
  table {}
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .table-container table {
    font-size: 7px;
  }
  .table-button {
    font-size: 6px;
    height: 25px;
    width: 35px;
  }
}

@media screen and (max-width: 680px) {
  .table-container table {
    font-size: 7.1px;
  }
  .table-button {
    font-size: 6px;
    height: 25px;
    width: 35px;
  }
}
